<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs" xml:lang="cs"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="../static/css/styles.css"
          th:href="${'css/styles.css'}"/>
    <link rel="icon" href="../static/images/favicon.png"
          th:href="${'images/favicon.png'}"/>
    <title>Camel calculator</title>
</head>
<body>

    <div class="header">

        <h1>Camel Calculator</h1>

    </div>

    <div class="content">

        <p>Here you can calculate how many camels your girlfriend or boyfriend
            is worth. But first we need some information about the person.</p>

        <ul>

            <li>
                <a th:href="@{'/girlfriend'}" href="girlfriend.html">
                    <img th:src="${'images/girlfriend.svg'}" src="../static/images/girlfriend.svg" alt="girl icon">
                    <span>How many camels for your girlfriend?</span>
                </a>
            </li>

            <li>
                <a th:href="@{'/boyfriend'}" href="boyfriend.html">
                    <img th:src="${'images/boyfriend.svg'}" src="../static/images/boyfriend.svg" alt="boy icon">
                    <span>How many camels for your boyfriend?</span>
                </a>
            </li>

        </ul>

    </div>

</body>
</html>
